.page {
  padding: 0 16px;
  text-align: center;
}
.titleRow {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0;
  justify-content: flex-start;
}
.titleRow img {
  width: 44px;
  height: 44px;
}
.ja {
  color: #595757;
  font-size: 26px;
  text-align: left;
  font-weight: 700;
}
.en {
  color: #595757;
  text-align: left;
}
.text {
  color: #595757;
  font-size: 20px;
  margin: 20px;
}
.mail {
  display: inline-block;
  background: #ea6060;
  color: #fff;
  border-radius: 999px;
  padding: 14px 18px;
  font-size: 20px;
}
.contactBox {
  margin-top: 100px;
}
