.card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 23px;
  width: 100%;
  max-width: 300px;
  padding: 12px 16px;
  background: #fff;
  border: 0px solid var(--black);
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18);
}
.avatar {
  width: 75px;
  height: 75px;
  margin-left: 10px;
  border-radius: 999px;
  object-fit: cover;
  flex-shrink: 0;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.nameBadge {
  color: #fff;
  border-radius: 5px;
  padding: 6px 12px;
  width: fit-content;
  font-weight: 700;
  font-size: 18px;
}
.handleText {
  color: var(--black);
  font-size: 14px;
}

/* 名前色のバリエーション（id に合わせて適用） */
.name_sugiyama {
  background-color: var(--blue);
  color: #fff;
}
.name_shirukuto {
  background-color: var(--green);
  color: #fff;
}
.name_tomato {
  background-color: var(--red);
  color: #fff;
}
